p{
    margin: 0;
    padding: 0;
}
.content {
    width: calc(100%);
    height: calc(100%);
    .result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: scroll;
        width: calc(100% - 130px);
        height: calc(80%);
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 8px;
        margin-left: 65px;
        margin-right: 65px;
    }
}